/*
CSS Credit: http://www.templatemo.com
*/

/* 
Creative Template 
http://www.templatemo.com/preview/templatemo_143_creative 
*/
body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #ada393;
	background: url(images/templatemo_body_bg.png);
}
		
a:link, a:visited { color: #191815; text-decoration: none; font-weight: normal; font-style: italic;} 
a:active, a:hover { color: #191815; text-decoration: underline;}

p { margin: 0px; padding: 0px; text-align: justify; }

img { margin: 0px; padding: 0px; border: none; }

h1 {
	margin: 0px;
	padding: 2px 0;
	font-size: 30px;
	font-weight: bold;
}

h2 {
	margin: 0 0 15px 0;
	padding: 2px 0 10px 0;
	font-size: 26px;
	font-weight: normal;
	color: #947c58;
	font-style: italic;
	border-bottom: 2px solid #494234;
}

#templatemo_container {
	position: relative;
	width: 900px;
	margin: 0 auto;
	background: url(images/templatemo_container_top.jpg) top left no-repeat;
}

#templatemo_container #bulb {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 337px;
	height: 273px;
	background: url(images/templatemo_light_off.png) no-repeat;
}

#templatemo_container #bulb:hover {
	background: url(images/templatemo_light_on.png) no-repeat;
}

/* site title bar */

#templatemo_site_title_bar {
	width: 960px;
	height: 150px;
	padding: 0 10px;
	background: url(images/templatemo_top_bar.jpg) no-repeat;
}

#templatemo_site_title_bar  #site_title {
	float: left;
	width: 400px;
	margin-left: 150px;
	padding: 50px 0 0 0;
	text-align: left;
}

#site_title h1 a {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #947c58;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
}

#site_title h1 a:hover {
	font-weight: bold;	
	text-decoration: none;
}

#site_title h1 span {
	display: block;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ada393;
	line-height: 15px;
	font-weight: normal;
}

/* end of site title bar */


/* footer */
#templatemo_footer {
	clear: both;
	width: 750px;
	height: 41px;
	padding: 15px 65px 15px 85px;
	text-align: center;
	background: url(images/templatemo_footer_bg.png) no-repeat;
	color: #ac9058;
}

#templatemo_footer a {
	font-weight: normal;
	color: #ac9058;
	text-decoration: underline;
	font-style: normal;
}

#templatemo_footer a:hover {
	color: #ada393;
	text-decoration: none;
}

#templatemo_footer .footer_menu {
	margin: 0 0 5px 0;
	padding: 0px;
	list-style: none;
}

.footer_menu li {
	margin: 0px;
	padding: 0 20px;
	display: inline;
	border-right: 1px solid #ac9058;
}

.footer_menu a {
  color: #ada393
}

.footer_menu .last_menu {
	border: none;
}
/* end of footer */
